body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.search-column {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.search-bar {
  height: 50px;
  width: 80vw !important;
  margin: 0 auto !important;
}
.search-bar .input, .search-bar input{
  width: 80vw !important;
  margin: 0 auto !important;
  display: block;
}
.results{
    width: 80vw !important;
    margin: 0 auto !important;
}
.suggestion-container {
  margin-top: 5px;
  background-color: #e2e2e2
}
.search-suggestion {
  list-style-type: none;
}
.search-suggestion a {
  text-decoration: none;
  color: #757575;
}
.backdrop, .backdrop img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
}
.backdrop-overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0.65;
    background-color: #000;
}
.poster{
    height: 75vh;
    width: auto;
    margin-top: 8vh;
    padding-left: 4vw;
}
 .poster img {
    float: right;
    width: 100%;
    max-width: 50vh;
    max-height: 75vh;
    position: relative;
    margin-right: 1vw;
    border-radius: 4px;

 }

.movie-details * {
    color: #ffffff !important;
}
.movie-details, .row {
    color: #ffffff !important;
    margin-top: 10px;
}
.title-bar {
background: #16171B;
box-shadow: 1px 1px black;
position: relative;
z-index: 10;
}
