body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.search-column {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.search-bar {
  height: 60px;
  width: 80vw !important;
  margin: 0 auto !important;
}
.search-bar .input, .search-bar input{
  width: 80vw !important;
  margin: 0 auto !important;
  display: block;
}
.results{
    width: 80vw !important;
    margin: 0 auto !important;
}
.suggestion-container {
  margin-top: 5px;
  background-color: #e2e2e2
}
.search-suggestion {
  list-style-type: none;
}
.search-suggestion a {
  text-decoration: none;
  color: #757575;
}
.backdrop, .backdrop img{
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
}
.backdrop-overlay{
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0.65;
    background-color: #000;
}
.poster{
    height: 75vh;
    width: auto;
    margin-top: 8vh;
    padding-left: 4vw;
}
 .poster img {
    float: right;
    width: 100%;
    max-width: 50vh;
    max-height: 75vh;
    position: relative;
    margin-right: 1vw;
    border-radius: 4px;

 }
.main-container{
  position: fixed;
}
.movie-details * {
    color: #ffffff !important;
    text-align: left;
}
.movie-details .row {
    color: #ffffff !important;
    margin-top: 10vw;
    width: 90vw !important;
    margin: 0 auto;
}
.movie-details .row > div {
  margin-top: 5vh !important;
}
.title-bar {
  background: #16171B;
  box-shadow: 1px 1px black;
  position: relative;
  z-index: 9001;
}
.loader-container {
    position: fixed !important;
    height: 100vh !important;
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: initial !important;
    z-index: 100000;
}
.loader-images .dimmer {
    transition: none !important;
}
